<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SRC調査員登録システム</title>
  <meta name="description" content="">
  <meta name="keywords" content="サーベイリサーチセンター,調査員登録システム,交通量調査">
  <meta name="viewport" content="width=device-width">
  <!--<script type="text/javascript" src="/0/tyousa_sys/js/footerFixed.js"></script>>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div id="container">
    <header>
      <h1>SRC調査員登録システム</h1>
    </header>
    <div id="contents">
      <section>
        <h2>新規会員登録</h2>
        <p>
          <div class = "errmsg">
          <% if @userinfos.errors.any? %>
          <h3>入力した内容にエラーが<%= @userinfos.errors.count %>件あります</h3>
          <ul>
            <% @userinfos.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
          <% end %>
          <%= form_for(@userinfos, url: confirm_path) do |f| %>
            <table class="ta1" border="1" cellpadding="5" width="100%">
              <tbody>
                <tr>
                  <td class="abc1">姓（漢字）<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :name_first %></td>
                </tr>
                <tr>
                  <td class="abc1">名（漢字）<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :name_last %></td>
                </tr>
                <tr>
                  <td class="abc1">せい（ふりがな）<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :name_first_read %></td>
                </tr>
                <tr>
                  <td class="abc1">めい（ふりがな）<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :name_last_read %></td>
                </tr>
                <tr>
                  <td class="abc1">性別<span class="required">(必須)</span></td>
                  <td class="abc2">
                  <%= f.radio_button :sex, 1 %>
                  <%= f.label :sex, "男性"%>
                  <%= f.radio_button :sex, 2  %>
                  <%= f.label :sex, "女性"%>
                  </td>
                </tr>
                <tr>
                  <td class="abc1">生年月日<span class="required">(必須)</span></td>
                  <td class="abc2"> <select id="select_year" name="BirthYear"><option value="" selected selected></option></select>年 <select id="select_month" name="BirthYear"><option value="" selected selected></select>月 <select id="select_day" name="BirthDay"><option value="" selected selected></select>日 </td>
                  <%= f.hidden_field :birthday %>
                </tr>
                <tr>
                  <td class="abc1">郵便番号<span class="required">(必須)</span></td>
                  <td class="abc2"> <input type="tel" id="cl01" name="PostNumber1" value="" maxlength="3" style="width:80px"> &nbsp;-&nbsp; <input type="tel" id="cl02" name="PostNumber2" value="" maxlength="4" style="width:80px"> </td>
                  <%= f.hidden_field :postnumber %>
                </tr>
                <tr>
                  <td class="abc1">都道府県<span class="required">(必須)</span></td>
                  <td class="abc2"> <select name="Prefecture" id="cl04">
                  <option value="" selected selected>選択しない</option>
                  <option value="1" >北海道</option>
                  <option value="2" >青森県</option>
                  <option value="3" >岩手県</option>
                  <option value="4" >宮城県</option>
                  <option value="5" >秋田県</option>
                  <option value="6" >山形県</option>
                  <option value="7" >福島県</option>
                  <option value="8" >茨城県</option>
                  <option value="9" >栃木県</option>
                  <option value="10" >群馬県</option>
                  <option value="11" >埼玉県</option>
                  <option value="12" >千葉県</option>
                  <option value="13" >東京都</option>
                  <option value="14" >神奈川県</option>
                  <option value="15" >新潟県</option>
                  <option value="16" >富山県</option>
                  <option value="17" >石川県</option>
                  <option value="18" >福井県</option>
                  <option value="19" >山梨県</option>
                  <option value="20" >長野県</option>
                  <option value="21" >岐阜県</option>
                  <option value="22" >静岡県</option>
                  <option value="23" >愛知県</option>
                  <option value="24" >三重県</option>
                  <option value="25" >滋賀県</option>
                  <option value="26" >京都府</option>
                  <option value="27" >大阪府</option>
                  <option value="28" >兵庫県</option>
                  <option value="29" >奈良県</option>
                  <option value="30" >和歌山県</option>
                  <option value="31" >鳥取県</option>
                  <option value="32" >島根県</option>
                  <option value="33" >岡山県</option>
                  <option value="34" >広島県</option>
                  <option value="35" >山口県</option>
                  <option value="36" >徳島県</option>
                  <option value="37" >香川県</option>
                  <option value="38" >愛媛県</option>
                  <option value="39" >高知県</option>
                  <option value="40" >福岡県</option>
                  <option value="41" >佐賀県</option>
                  <option value="42" >長崎県</option>
                  <option value="43" >熊本県</option>
                  <option value="44" >大分県</option>
                  <option value="45" >宮崎県</option>
                  <option value="46" >鹿児島県</option>
                  <option value="47" >沖縄県</option>
                  </select> 
                  <%= f.hidden_field :prefecture %></td>
                </tr>
                <tr>
                  <td class="abc1">市区町村名<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :municipalities %></td>
                </tr>
                <tr>
                  <td class="abc1">番地名<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :street %></td>
                </tr>
                <tr>
                  <td class="abc1">自宅電話番号</td>
                  <td class="abc2"> <input type="tel" id="cl10" name="TelMain1" value="" maxlength="5" style="width:60px"> - <input type="tel" id="cl11" name="TelMain2" value="" maxlength="5" style="width:60px"> - <input type="tel" id="cl12" name="TelMain3" value="" maxlength="5" style="width:60px"> </td>
                  <%= f.hidden_field :tel_main %>
                </tr>
                <tr>
                  <td class="abc1">携帯電話番号</td>
                  <td class="abc2"> <input type="tel" id="cl14" name="TelSelpfhone1" value="" maxlength="5" style="width:60px"> - <input type="tel" id="cl15" name="TelSelpfhone2" value="" maxlength="5" style="width:60px"> - <input type="tel" id="cl16" name="TelSelpfhone3" value="" maxlength="5" style="width:60px"> </td>
                  <%= f.hidden_field :tel_selpfhone %>
                </tr>
                <tr>
                  <td class="abc1">PCメールアドレス<br>(PC/携帯どちらか入力<span class="required">必須</span>)</td>
                  <td class="abc2"><%= f.text_field :mail_pc %></td>
                </tr>
                <tr>
                  <td class="abc1">携帯メールアドレス<br>(PC/携帯どちらか入力<span class="required">必須</span>)</td>
                  <td class="abc2"><%= f.text_field :mail_pass %></td>
                </tr>
                <tr>
                  <td class="abc1">調査経験回数<span class="required">(必須)</span></td>
                  <td class="abc2">
                    <%= f.select :survey_experience, {'0回': 1, '1～5回': 2, '6～10回': 3, '11回': 4}, { include_blank: '選択しない'} %>
                  </td>
                </tr>
                <tr>
                  <td class="abc1">希望する調査<span class="required">(必須)</span></td>
                  <td class="abc2">
                  <%= f.hidden_field :traffic_survey, value: false %>
                  <%= f.check_box :traffic_survey, {}, true, false %>
                  <%= "交通量調査" %><br>
                  <%= f.hidden_field :driving_survey, value: false %>
                  <%= f.check_box :driving_survey, {}, true, false %>
                  <%= "走行調査" %><br>
                  <%= f.hidden_field :bus_survey, value: false %>
                  <%= f.check_box :bus_survey, {}, true, false %>
                  <%= "バス調査" %><br>
                  <%= f.hidden_field :questionnaire_distribution, value: false %>
                  <%= f.check_box :questionnaire_distribution, {}, true, false %>
                  <%= "アンケート配布" %><br>
                  <%= f.hidden_field :interview_survey, value: false %>
                  <%= f.check_box :interview_survey, {}, true, false %>
                  <%= "聞き取り調査" %><br>
                  <%= f.hidden_field :visit_survey, value: false %>
                  <%= f.check_box :visit_survey, {}, true, false %>
                  <%= "訪問調査" %><br>
                  <%= f.hidden_field :undercover_investigation, value: false %>
                  <%= f.check_box :undercover_investigation, {}, true, false %>
                  <%= "覆面調査(店舗チェック)" %><br>
                  <%= f.hidden_field :office_staff, value: false %>
                  <%= f.check_box :office_staff, {}, true, false %>
                  <%= "内勤スタッフ" %><br>
                  </td>
                </tr>
                <tr>
                  <td class="abc1">最寄SRC事務所</td>
                  <td class="abc2"> 
                    <%= f.select :nearest_office, {'北海道事務所': 10, '北東北事務所': 11, '東北事務所（仙台）': 2, '本社（西日暮里）': 1, '静岡事務所': 1, '名古屋事務所': 4, '大阪事務所': 5,
                                                    '広島事務所': 7, '岡山事務所': 6, '四国事務所': 9, '九州事務所': 8, '南九州事務所': 12, '沖縄事務所': 13}, { include_blank: '選択しない'} %>
                </td>
                </tr>
                <tr>
                  <td class="abc1">車の保有について<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.select :possession_car, {'はい': 1, 'いいえ': 2}, {include_blank: '選択しない'} %>
                  </td>
                </tr>
                <tr>
                  <td class="abc1">自宅最寄り駅</td>
                  <td class="abc2"><%= f.text_field :nearest_station %></td>
                </tr>
                <tr>
                  <td class="abc1">認知経路<span class="required">(必須)</span></td>
                  <td class="abc2">
                  <%= f.select :cognitive_pathway, {'調査員説明会': 1, '知人の紹介': 2, 'SRCWebサイト': 3, 'その他': 4}, {include_blank: '選択しない'} %>
                  </td>
                </tr>
                <tr>
                  <td class="abc1">認知経路 その他</td>
                  <td class="abc2"><%= f.text_field :cognitive_pathway_other %></td>
                </tr>
                <tr>
                  <td class="abc1">パスワード<span class="required">(必須)</span></td>
                  <td class="abc2"><%= f.text_field :password %></td>
                </tr>
              </tbody>
            </table>
            <table class="ta1">
              <tbody>
                <tr align="center">
                  <td style="width:150px; padding-top:15px; padding-bottom:15px;"><%= f.submit "会員登録する", style: "width:150px" %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </p>
      </section>
    </div>
    <!--/contents-->
    <div id="footer">
      <footer>
        <font color="white"><small>Copyright&copy; 2017 SURVEY RESEARCH CENTER CO., LTD. All Rights Reserved.</small></font>
      </footer>
    </div>
  </div>
  <!--/container-->
<script type="text/javascript">
      //生年月日設定用のjavascript
      'use strict';
    	
      const select_year = document.getElementById('select_year');
      const select_month = document.getElementById('select_month');
      const select_day = document.getElementById('select_day');
      let i;
      var now = new Date();
       
      function $set_year(){
        // 年を生成
        for(i = now.getFullYear() - 100; i < now.getFullYear() + 1; i++){
          let op = document.createElement('option');
          op.value = i;
          op.text = i;
          select_year.appendChild(op);
        }
      }
      
      function $set_month(){
        // 月を生成(12)
        for(i = 1; i <= 12; i++){
          let op = document.createElement('option');
          op.value = i;
          op.text = i;
          select_month.appendChild(op);
        }
      }
    
      function $set_day(){
          for (i = 1; i <= 31; i++) {
            let op = document.createElement('option');
            op.value = i;
            op.text = i;
            select_day.appendChild(op);
          }
      }
    
      //load時に実行する。
      window.onload = function(){
        $set_year();
        $set_month();
        $set_day();
      
        //submitされた時に実行する。
        document.getElementById("new_userinfo").onsubmit = function(){
          //値をセットする
          //生年月日
          document.getElementById("userinfo_birthday").value = document.getElementById("select_year").value + "-" +
                                                               String(document.getElementById("select_month").value).padStart(2, '0') + "-" +
                                                               String(document.getElementById("select_day").value).padStart(2, '0');

          //郵便番号
          if(document.getElementById("cl01").value.trim()  !== "" && document.getElementById("cl02").value.trim()  !== ""){
            document.getElementById("userinfo_postnumber").value = document.getElementById("cl01").value.trim() +　"-" + document.getElementById("cl02").value.trim();
          } else {
            document.getElementById("userinfo_postnumber").value = ""
          }

          //都道府県
          document.getElementById("userinfo_prefecture").value = document.getElementById("cl04").value;

          //自宅電話番号
          if(document.getElementById("cl10").value.trim()  !== "" &&
             document.getElementById("cl11").value.trim()  !== "" &&
             document.getElementById("cl12").value.trim()  !== ""){
              document.getElementById("userinfo_tel_main").value = document.getElementById("cl10").value +　"-" + document.getElementById("cl11").value +　"-" + document.getElementById("cl12").value;
          } else {
            document.getElementById("userinfo_tel_main").value = ""
          }

          //携帯電話番号
          if(document.getElementById("cl14").value.trim()  !== "" &&
             document.getElementById("cl15").value.trim()  !== "" &&
             document.getElementById("cl16").value.trim()  !== ""){
              document.getElementById("userinfo_tel_selpfhone").value = document.getElementById("cl14").value +　"-" + document.getElementById("cl15").value +　"-" + document.getElementById("cl16").value;
            } else {
              document.getElementById("userinfo_tel_selpfhone").value = ""
            }
        }

        //確認画面で修正ボタンを押された or 確認画面に遷移した際に実行する。
        if(location.pathname == "/back" || location.pathname == "/confirm"){
          //生年月日をセット
          var birthday = document.getElementById("userinfo_birthday").value;
          var birthday_arr = birthday.split("-");
          document.getElementById("select_year").value = birthday_arr[0];
          document.getElementById("select_month").value = Number(birthday_arr[1]);
          document.getElementById("select_day").value = Number(birthday_arr[2]);

          //郵便番号をセット
          var postnumber = document.getElementById("userinfo_postnumber").value;
          var postnumber_arr = postnumber.split("-");
          if(postnumber_arr.length > 1){
            document.getElementById("cl01").value = postnumber_arr[0];
            document.getElementById("cl02").value = postnumber_arr[1];
          }

          //都道府県をセット
          var prefecture = document.getElementById("userinfo_prefecture").value;
          document.getElementById("cl04").value = prefecture;         

          //自宅電話番号をセット
          var tel_main = document.getElementById("userinfo_tel_main").value;
          var tel_main_arr = tel_main.split("-");
          if(tel_main_arr.length > 2){
            document.getElementById("cl10").value = tel_main_arr[0];
            document.getElementById("cl11").value = tel_main_arr[1];
            document.getElementById("cl12").value = tel_main_arr[2];
          }

          //自宅電話番号をセット
          var tel_selpfhone = document.getElementById("userinfo_tel_selpfhone").value;
          var tel_selpfhone_arr = tel_selpfhone.split("-");
          if(tel_main_arr.length > 2){
            document.getElementById("cl14").value = tel_selpfhone_arr[0];
            document.getElementById("cl15").value = tel_selpfhone_arr[1];
            document.getElementById("cl16").value = tel_selpfhone_arr[2];
          }
        }
      }
</script>
</body>
</html>